<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="true" cacheResultFile="storage/tmp">
  <php>
    <env name="APP_ENV" value="testing"/>
  </php>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>